* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

body {
  font-family: "Karla", sans-serif;
}

h1,
h3 {
  font-family: "DM Serif Display", serif;
  line-height: 3rem;
}

h1 {
  font-size: 2.3rem;
}

p {
  line-height: 1.6rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

.button {
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.7rem 1.5rem;
  background-color: $dark-violet;
  border: 1.5px solid #fff;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 3.5rem;
  }
}
