.hero {
  background-color: $dark-violet;

  &__image {
    width: 100%;
    display: block;
  }

  &__intro {
    position: relative;
    padding: 5rem 1rem;
    color: #fff;
    text-align: center;

    &-left-bg-pattern-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    &-right-bg-pattern-image {
      position: absolute;
      right: 0;
    }

    &-headline {
      position: relative;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }

    &-description {
      font-size: 0.9rem;
      margin-bottom: 2rem;
    }
  }
}
