.hero {
  background-color: $dark-violet;

  &__inner > .hero__intro-left-bg-pattern-image,
  &__inner > .hero__intro-right-bg-pattern-image {
    display: none;
  }

  &__image img {
    width: 100%;
    display: block;
  }

  &__intro {
    position: relative;
    padding: 5rem 1rem;
    color: #fff;
    text-align: center;
    z-index: 1;

    &-left-bg-pattern-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    &-right-bg-pattern-image {
      position: absolute;
      right: 0;
    }

    &-headline {
      position: relative;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }

    &-description {
      font-size: 0.9rem;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: 900px) {
  .hero {
    &__content-wrapper {
      width: 90%;
      position: relative;
      margin: 0 auto;
    }

    &__image {
      order: 2;
      width: 450px;
      position: absolute;
      top: 75px;
      right: 0;
    }

    &__intro {
      position: relative;
      width: 46%;
      text-align: unset;
      padding: 5rem 2rem 5rem 0rem;

      &-headline {
        font-size: 3rem;
        margin-bottom: 2rem;

        &::before {
          content: "";
          display: flex;
          width: 150px;
          margin-bottom: 3rem;
          background-color: $light-grayish-violet;
          border: 1px solid $light-grayish-violet;
        }
      }

      &-description {
        font-size: 1.1rem;
      }

      &-left-bg-pattern-image {
        display: none;
      }

      &-right-bg-pattern-image {
        display: none;
      }
    }

    &__inner > .hero__intro-left-bg-pattern-image,
    &__inner > .hero__intro-right-bg-pattern-image {
      display: unset;
    }

    &__inner > .hero__intro-left-bg-pattern-image {
      top: 360px;
    }

    &__inner > .hero__intro-right-bg-pattern-image {
      top: 73px;

      img {
        width: 290px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    &__image {
      width: 450px;
    }

    &__intro {
      width: 600px;

      &-headline {
        font-size: 3.5rem;
      }
    }

    &__inner > .hero__intro-right-bg-pattern-image {
      img {
        width: 315px;
      }
    }
  }
}
