@media screen and (max-width: 899px) {
  .header {
    &__hamburger-icon--toggle,
    &__close-menu {
      display: none;
    }

    &__close-menu--toggle {
      display: block;
    }

    &__nav-show {
      left: 0;
      background: hsl(270, 9%, 17%);
      background-image: url("../images/bg-pattern-mobile-nav.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%;
    }
  }
}

@media screen and (min-width: 900px) {
  .header {
    &__hamburger-icon,
    &__close-menu {
      display: none;
    }
  }
}
